<p class="helpWarnings"><img class="informazioni" th:src="@{/mitech/assets/images/logo/info.png}">HELP:</p>
<p id="risultati"></p>
<div id="warnings">Questo è il villaggio proposto per l'esercitazione in base al tuo livello di Municipio.
    Vuoi procedere con l'attacco?
</div>

<p>
    <a class="button25" id="iniziapartitaesercitazione">Inizia Partita</a> <br>
</p>
<p>
    <a class="button25" id="annullaPartita" href="#"  th:href="@{/clash_of_clans}" >Annulla</a>
</p>


<th:block layout:fragment="script">
    <script type="text/javascript" th:inline="javascript">
        var partita = null;
    jQuery(document).ready(function ($) {
        $('#iniziapartitaesercitazione').click(function () {
            $.ajax({
                type: "GET",
                url: "/clash_of_clans/recupera_truppe_giocatore",
                dataType: "html",
                success: function (data) {
                    $("#truppedisponibilipartita").append(data);
                    document.getElementById('iniziapartitaesercitazione').style.display = "none";
                    partita = new Partita(giocatore, avversario);
                    partita.iniziaPartita();

                },
                error: function () {

                    alert("Chiamata fallita!!!");
                },

            });


            $.ajax({
                type: "GET",
                url: "/clash_of_clans/intestazione_partita",
                dataType: "html",
                success: function (data) {
                    $("#intestazioneClash").html(data);
                },
                error: function () {
                    alert("Chiamata fallita!!!");
                },

            });

        });

      
     });
    </script>
</th:block>