<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"          
      layout:decorate="~{layout/public/layout}"
      xmlns="http://www.w3.org/1999/xhtml">

    <body>
        <div class="site-wrapper-reveal" layout:fragment="content">
            <div class="breadcrumb-area">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-4">edifici distrutti</div>
                        <div class="col-lg-4" id="demo"></div>
                        <div class="col-lg-4">stelle <button>ciaone</button></div>
                    </div>
                </div>
            </div>
            <div class="container">

                <div class="single-divider section-space--ptb_60 border-bottom">
                    <div class="row ">
                        <!-- <img src="/mitech/assets/images/favicon.png" th:src="@{/mitech/assets/images/favicon.png}" alt="" /> -->

                        <div class="col-lg-4">
                            <div th:each="truppeDisponbili : ${truppeDisponbili}">
                                <div th:each="i : ${#numbers.sequence(1, truppeDisponbili.quantita)}">

                                    <img id="truppa" class="mySlides flex" th:name="${truppeDisponbili.truppa.nomeTruppa}" th:src="@{${'/mitech/assets/images/truppe/' + truppeDisponbili.truppa.immagineTruppa}}" />
                                    <div id="idtruppeaddestrate" th:text="${truppeDisponbili.truppa.id}"></div>
                                    <div id="nometruppeaddestrate" th:text="${truppeDisponbili.truppa.nomeTruppa}"></div>
                                </div>

                            </div>

                            <button class="w3-button w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
                            <button class="w3-button w3-display-right" onclick="plusDivs(+1)">&#10095;</button>
                        </div>

                        <div class="col-lg-8">
                            <table id="tabvillaggio" class="tabellavillaggio">
                                <tr>
                                    <td th:each="i : ${#numbers.sequence(1, 6)}">
                                        <img style="width: 100%" th:class="__${i}__" th:id="edificioincasella__${i}__" th:name="__${i}__" th:if="${posizioneEdificio[__${i}__] != NULL }" th:src="@{${'/mitech/assets/images/villaggio/' + posizioneEdificio[__${i}__]}}" alt="" />
                                        <img style="width: 100%" th:class="__${i}__" th:id="erbaincasella__${i}__" th:name="__${i}__" th:unless="${posizioneEdificio[__${i}__] != NULL }" src="/mitech/assets/images/villaggio/erba.png" alt="" th:onclick="'javascript:checkCasellaErba(' + __${i}__ + ')'"/>
                                    </td>   
                                </tr>
                                <tr>
                                    <td th:each="i : ${#numbers.sequence(7, 12)}">
                                        <img style="width: 100%" th:id="edificioincasella__${i}__" th:name="__${i}__" th:if="${posizioneEdificio[__${i}__] != NULL }" th:src="@{${'/mitech/assets/images/villaggio/' + posizioneEdificio[__${i}__]}}" alt="" th:onclick="'javascript:checkCasellaEdificio(' + __${i}__ + ')'"/>
                                        <img style="width: 100%" th:id="erbaincasella__${i}__" th:name="__${i}__" th:unless="${posizioneEdificio[__${i}__] != NULL }" src="/mitech/assets/images/villaggio/erba.png" alt="" th:onclick="'javascript:checkCasellaErba(' + __${i}__ + ')'"/>
                                    </td>   
                                </tr>

                                <tr>
                                    <td th:each="i : ${#numbers.sequence(13, 18)}">
                                        <img style="width: 100%" th:id="edificioincasella__${i}__" th:name="__${i}__" th:if="${posizioneEdificio[__${i}__] != NULL }" th:src="@{${'/mitech/assets/images/villaggio/' + posizioneEdificio[__${i}__]}}" alt="" th:onclick="'javascript:checkCasellaEdificio(' + __${i}__ + ')'"/>
                                        <img style="width: 100%" th:id="erbaincasella__${i}__" th:name="__${i}__" th:unless="${posizioneEdificio[__${i}__] != NULL }" src="/mitech/assets/images/villaggio/erba.png" alt="" th:onclick="'javascript:checkCasellaErba(' + __${i}__ + ')'"/>
                                    </td>   
                                </tr>

                                <tr>
                                    <td th:each="i : ${#numbers.sequence(19, 24)}">
                                        <img style="width: 100%" th:id="edificioincasella__${i}__" th:name="__${i}__" th:if="${posizioneEdificio[__${i}__] != NULL }" th:src="@{${'/mitech/assets/images/villaggio/' + posizioneEdificio[__${i}__]}}" alt="" th:onclick="'javascript:checkCasellaEdificio(' + __${i}__ + ')'"/>
                                        <img style="width: 100%" th:id="erbaincasella__${i}__" th:name="__${i}__" th:unless="${posizioneEdificio[__${i}__] != NULL }" src="/mitech/assets/images/villaggio/erba.png" alt="" th:onclick="'javascript:checkCasellaErba(' + __${i}__ + ')'"/>
                                    </td>   
                                </tr>
                                <tr>
                                    <td th:each="i : ${#numbers.sequence(25, 30)}">
                                        <img style="width: 100%" th:id="edificioincasella__${i}__" th:name="__${i}__" th:if="${posizioneEdificio[__${i}__] != NULL }" th:src="@{${'/mitech/assets/images/villaggio/' + posizioneEdificio[__${i}__]}}" alt="" th:onclick="'javascript:checkCasellaEdificio(' + __${i}__ + ')'"/>
                                        <img style="width: 100%" th:id="erbaincasella__${i}__" th:name="__${i}__" th:unless="${posizioneEdificio[__${i}__] != NULL }" src="/mitech/assets/images/villaggio/erba.png" alt="" th:onclick="'javascript:checkCasellaErba(' + __${i}__ + ')'"/>
                                    </td>   
                                </tr>
                                <tr>
                                    <td th:each="i : ${#numbers.sequence(31, 36)}">
                                        <img style="width: 100%" th:id="edificioincasella__${i}__" th:name="__${i}__" th:if="${posizioneEdificio[__${i}__] != NULL }" th:src="@{${'/mitech/assets/images/villaggio/' + posizioneEdificio[__${i}__]}}" alt="" th:onclick="'javascript:checkCasellaEdificio(' + __${i}__ + ')'"/>
                                        <img style="width: 100%" th:id="erbaincasella__${i}__" th:name="__${i}__" th:unless="${posizioneEdificio[__${i}__] != NULL }" src="/mitech/assets/images/villaggio/erba.png" alt="" th:onclick="'javascript:checkCasellaErba(' + __${i}__ + ')'"/>
                                    </td>   
                                </tr>

                            </table>
                            villaggio 
                            <div th:text="${listaTruppe}"></div>
                        </div>
                    </div>
                </div>
                <!--  <div class="row">
                      <div class="col-md-12">
                          ciao
                      </div>
                      <div class="col-12">
    
                          miao
                      </div>
    
    
                      <div class="row">
    
                          <div class="col-md-12">
                <!-- section-title-wrap Start -->
                bau

                <!--        </div>
                        <div class="col-12">
    
                            <div class="row">
    
    
                                cucu
                        </div>
                    </div>
                </div>-->
                <br><br><hr><br><br>
                                    <div class="thick-short-line"></div>
                                    </div>
                                    </div>

                                    <th:block layout:fragment="script">
                                        <script th:src="@{/mitech/assets/js/GameTimer.js}"></script>
                                        <script th:src="@{/mitech/assets/js/Truppa.js}"></script>
                                        <script th:src="@{/mitech/assets/js/sliderTruppe.js}"></script>
                                        <script  th:inline="javascript" th:src="@{/mitech/assets/js/Villaggio.js}"></script>
                                        <script th:src="@{/mitech/assets/js/Avversario.js}"></script>
                                        <script th:src="@{/mitech/assets/js/Edificio.js}"></script>
                                        <script th:src="@{/mitech/assets/js/Partita.js}"></script>


                                        <script th:inline="javascript">
                                            /*<![CDATA[*/
                                            function checkCasellaErba(occupazione) {
                                                var oggetto = document.getElementById('erbaincasella' + occupazione).src;
                                                document.getElementById('erbaincasella' + occupazione).src = '/mitech/assets/images/truppe/thumbnails/' + nomet + '.png';
                                            }

                                            function checkCasellaEdificio(occupazione) {
                                                var oggetto = document.getElementById('edificioincasella' + occupazione).src;
                                                alert('ritenta!');
                                            }
                                            jQuery(document).ready(function ($) {
                                                $("button").click(function () {
                                                    $.ajax({
                                                        type: "GET",
                                                        contentType: "application/json",
                                                        dataType: "json",
                                                        url: '/attacco_esercitazione/partitavillaggioesercitazione',
                                                        success: function (data) {
                                                            var posizioni = new Array();
                                                            var truppe = new Array();
                                                            var oggettoTruppa;
                                                            for (var i = 0; i < data[0].length; i++) {
                                                                posizioni.push([data[0][i].idedificio, data[0][i].posizione]);
                                                            }
                                                            for (var i = 0; i < data[2].length; i++) {
                                                                if (data[2][0].truppa.tipologia === "attacco") {
                                                                    for (var j = 0; j < data[2][i].quantita; j++) {
                                                                        oggettoTruppa = new TruppaBuilder()
                                                                                .setNome(data[2][i].truppa.nomeTruppa)
                                                                                .setTassoAggiornamentoColpi(data[2][i].truppa.tassoAggiornamentoColpi)
                                                                                .setTassoAggiornamentoResistenza(data[2][i].truppa.resistenza)
                                                                                .setResistenzaLivelloIniziale(data[2][i].truppa.resistenzaLivelloIniziale)
                                                                                .setColpiLivelloIniziale(data[2][i].truppa.colpiLivelloIniziale)
                                                                        truppe.push(oggettoTruppa);
                                                                    }
                                                                } else if (data[2][0].truppa.tipologia === "guarigione") {
                                                                    for (var j = 0; j < data[2][i].quantita; j++) {
                                                                        oggettoTruppa = new TruppaBuilder()
                                                                                .setNome(data[2][i].nomeTruppa)
                                                                                .setTassoAggiornamentoGuarigione(data[2][i].truppa.tassoAggiornamentoGuarigione)
                                                                                .setTassoAggiornamentoResistenza(data[2][i].truppa.resistenza)
                                                                                .setResistenzaLivelloIniziale(data[2][i].truppa.resistenzaLivelloIniziale)
                                                                                .setGuarigioneLivelloIniziale(data[2][i].truppa.guarigioneLivelloIniziale)
                                                                        truppe.push(oggettoTruppa);
                                                                        //console.log(JSON.stringify(oggettoTruppa));
                                                                    }
                                                                }

                                                            }

                                                            console.log(JSON.stringify(truppe));

                                                            const villaggio = new Villaggio(data[1].livelloGiocatore, "esercitazione", 36, posizioni);
                                                            var infoEdificiBattaglia = villaggio.calcoloLivelloEdifici(posizioni);
                                                            const nuovaPartita = new Partita(villaggio, truppe, infoEdificiBattaglia);

                                                        },
                                                        error: function () {
                                                            alert('C’è stato un’errore');
                                                        }
                                                    });
                                                });
                                            });
                                            /*]]>*/
                                        </script>
                                    </th:block>
                                    </body>
                                    </html>

