<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"          
      layout:decorate="~{layout/public/layout}"
      xmlns="http://www.w3.org/1999/xhtml">

    <body>
        <div class="site-wrapper-reveal" layout:fragment="content">
            <div class="breadcrumb-area">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-4">edifici distrutti</div>
                        <div class="col-lg-4" id="demo"></div>
                        <div class="col-lg-4">stelle <button>ciaone</button></div>
                    </div>
                </div>
            </div>
            <div class="container">

                <div class="single-divider section-space--ptb_60 border-bottom">
                    <div class="row ">
                        <!-- <img src="/mitech/assets/images/favicon.png" th:src="@{/mitech/assets/images/favicon.png}" alt="" /> -->

                        <div class="col-lg-4">
                            <div th:each="truppeDisponbili : ${truppeDisponbili}">
                                <div th:each="i : ${#numbers.sequence(1, truppeDisponbili.quantita,1)}">
                                    
                                        <img id="truppa" class="mySlides" th:src="@{${'/mitech/assets/images/truppe/' + truppeDisponbili.truppa.immagineTruppa}}" />
                                    <div id="idtruppeaddestrate" th:text="${truppeDisponbili.id}" style="display:none"></div>
                                </div>

                            </div>

                            <button class="w3-button w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
                            <button class="w3-button w3-display-right" onclick="plusDivs(+1)">&#10095;</button>
                        </div>

                        <div class="col-lg-8">
                            <table id="tabvillaggio" class="tabellavillaggio">
                                <tr>
                                    <td th:if="${posizioneEdificio[1] != NULL}"><img style="width: 100%" th:src="@{${'/mitech/assets/images/villaggio/' + posizioneEdificio[1]}}" alt="" /></td>
                                    <td th:unless="${posizioneEdificio[1] != NULL}"><img style="width: 100%" src="/mitech/assets/images/villaggio/erba.png" th:src="@{/mitech/assets/images/villaggio/erba.png}" alt="" /></td>                                    
                                    <td th:if="${posizioneEdificio[2] != NULL}"><img style="width: 100%" th:src="@{${'/mitech/assets/images/villaggio/' + posizioneEdificio[2]}}" alt="" /></td>
                                    <td th:unless="${posizioneEdificio[2] != NULL}"><img style="width: 100%" src="/mitech/assets/images/villaggio/erba.png" th:src="@{/mitech/assets/images/villaggio/erba.png}" alt="" /></td>         
                                    <td th:if="${posizioneEdificio[3] != NULL}"><img style="width: 100%" th:src="@{${'/mitech/assets/images/villaggio/' + posizioneEdificio[3]}}" alt="" /></td>
                                    <td th:unless="${posizioneEdificio[3] != NULL}"><img style="width: 100%" src="/mitech/assets/images/villaggio/erba.png" th:src="@{/mitech/assets/images/villaggio/erba.png}" alt="" /></td>                                             
                                    <td th:if="${posizioneEdificio[4] != NULL}"><img style="width: 100%" th:src="@{${'/mitech/assets/images/villaggio/' + posizioneEdificio[4]}}" alt="" /></td>
                                    <td th:unless="${posizioneEdificio[4] != NULL}"><img style="width: 100%" src="/mitech/assets/images/villaggio/erba.png" th:src="@{/mitech/assets/images/villaggio/erba.png}" alt="" /></td>                                             
                                    <td th:if="${posizioneEdificio[5] != NULL}"><img style="width: 100%" th:src="@{${'/mitech/assets/images/villaggio/' + posizioneEdificio[5]}}" alt="" /></td>
                                    <td th:unless="${posizioneEdificio[5] != NULL}"><img style="width: 100%" src="/mitech/assets/images/villaggio/erba.png" th:src="@{/mitech/assets/images/villaggio/erba.png}" alt="" /></td>                                     
                                    <td th:if="${posizioneEdificio[6] != NULL}"><img style="width: 100%" th:src="@{${'/mitech/assets/images/villaggio/' + posizioneEdificio[6]}}" alt="" /></td>
                                    <td th:unless="${posizioneEdificio[6] != NULL}"><img style="width: 100%" src="/mitech/assets/images/villaggio/erba.png" th:src="@{/mitech/assets/images/villaggio/erba.png}" alt="" /></td>                                         
                                </tr>
                                <tr>
                                    <td th:if="${posizioneEdificio[7] != NULL}"><img style="width: 100%" th:src="@{${'/mitech/assets/images/villaggio/' + posizioneEdificio[7]}}" alt="" /></td>
                                    <td th:unless="${posizioneEdificio[7] != NULL}"><img style="width: 100%" src="/mitech/assets/images/villaggio/erba.png" th:src="@{/mitech/assets/images/villaggio/erba.png}" alt="" /></td>                                    
                                    <td th:if="${posizioneEdificio[8] != NULL}"><img style="width: 100%" th:src="@{${'/mitech/assets/images/villaggio/' + posizioneEdificio[8]}}" alt="" /></td>
                                    <td th:unless="${posizioneEdificio[8] != NULL}"><img style="width: 100%" src="/mitech/assets/images/villaggio/erba.png" th:src="@{/mitech/assets/images/villaggio/erba.png}" alt="" /></td>
                                    <td th:if="${posizioneEdificio[9] != NULL}"><img style="width: 100%" th:src="@{${'/mitech/assets/images/villaggio/' + posizioneEdificio[9]}}" alt="" /></td>
                                    <td th:unless="${posizioneEdificio[9] != NULL}"><img style="width: 100%" src="/mitech/assets/images/villaggio/erba.png" th:src="@{/mitech/assets/images/villaggio/erba.png}" alt="" /></td>
                                    <td th:if="${posizioneEdificio[10] != NULL}"><img style="width: 100%" th:src="@{${'/mitech/assets/images/villaggio/' + posizioneEdificio[10]}}" alt="" /></td>
                                    <td th:unless="${posizioneEdificio[10] != NULL}"><img style="width: 100%" src="/mitech/assets/images/villaggio/erba.png" th:src="@{/mitech/assets/images/villaggio/erba.png}" alt="" /></td>
                                    <td th:if="${posizioneEdificio[11] != NULL}"><img style="width: 100%" th:src="@{${'/mitech/assets/images/villaggio/' + posizioneEdificio[11]}}" alt="" /></td>
                                    <td th:unless="${posizioneEdificio[11] != NULL}"><img style="width: 100%" src="/mitech/assets/images/villaggio/erba.png" th:src="@{/mitech/assets/images/villaggio/erba.png}" alt="" /></td>
                                    <td th:if="${posizioneEdificio[12] != NULL}"><img style="width: 100%" th:src="@{${'/mitech/assets/images/villaggio/' + posizioneEdificio[12]}}" alt="" /></td>
                                    <td th:unless="${posizioneEdificio[12] != NULL}"><img style="width: 100%" src="/mitech/assets/images/villaggio/erba.png" th:src="@{/mitech/assets/images/villaggio/erba.png}" alt="" /></td>                                
                                </tr>
                                <tr>
                                    <td th:if="${posizioneEdificio[13] != NULL}"><img style="width: 100%" th:src="@{${'/mitech/assets/images/villaggio/' + posizioneEdificio[13]}}" alt="" /></td>
                                    <td th:unless="${posizioneEdificio[13] != NULL}"><img style="width: 100%" src="/mitech/assets/images/villaggio/erba.png" th:src="@{/mitech/assets/images/villaggio/erba.png}" alt="" /></td>                                    
                                    <td th:if="${posizioneEdificio[14] != NULL}"><img style="width: 100%" th:src="@{${'/mitech/assets/images/villaggio/' + posizioneEdificio[14]}}" alt="" /></td>
                                    <td th:unless="${posizioneEdificio[14] != NULL}"><img style="width: 100%" src="/mitech/assets/images/villaggio/erba.png" th:src="@{/mitech/assets/images/villaggio/erba.png}" alt="" /></td>
                                    <td th:if="${posizioneEdificio[15] != NULL}"><img style="width: 100%" th:src="@{${'/mitech/assets/images/villaggio/' + posizioneEdificio[15]}}" alt="" /></td>
                                    <td th:unless="${posizioneEdificio[15] != NULL}"><img style="width: 100%" src="/mitech/assets/images/villaggio/erba.png" th:src="@{/mitech/assets/images/villaggio/erba.png}" alt="" /></td>
                                    <td th:if="${posizioneEdificio[16] != NULL}"><img style="width: 100%" th:src="@{${'/mitech/assets/images/villaggio/' + posizioneEdificio[16]}}" alt="" /></td>
                                    <td th:unless="${posizioneEdificio[16] != NULL}"><img style="width: 100%" src="/mitech/assets/images/villaggio/erba.png" th:src="@{/mitech/assets/images/villaggio/erba.png}" alt="" /></td>
                                    <td th:if="${posizioneEdificio[17] != NULL}"><img style="width: 100%" th:src="@{${'/mitech/assets/images/villaggio/' + posizioneEdificio[17]}}" alt="" /></td>
                                    <td th:unless="${posizioneEdificio[17] != NULL}"><img style="width: 100%" src="/mitech/assets/images/villaggio/erba.png" th:src="@{/mitech/assets/images/villaggio/erba.png}" alt="" /></td>
                                    <td th:if="${posizioneEdificio[18] != NULL}"><img style="width: 100%" th:src="@{${'/mitech/assets/images/villaggio/' + posizioneEdificio[18]}}" alt="" /></td>
                                    <td th:unless="${posizioneEdificio[18] != NULL}"><img style="width: 100%" src="/mitech/assets/images/villaggio/erba.png" th:src="@{/mitech/assets/images/villaggio/erba.png}" alt="" /></td>                                
                                </tr>
                                <tr>
                                    <td th:if="${posizioneEdificio[19] != NULL}"><img style="width: 100%" th:src="@{${'/mitech/assets/images/villaggio/' + posizioneEdificio[19]}}" alt="" /></td>
                                    <td th:unless="${posizioneEdificio[19] != NULL}"><img style="width: 100%" src="/mitech/assets/images/villaggio/erba.png" th:src="@{/mitech/assets/images/villaggio/erba.png}" alt="" /></td>                                        
                                    <td th:if="${posizioneEdificio[20] != NULL}"><img style="width: 100%" th:src="@{${'/mitech/assets/images/villaggio/' + posizioneEdificio[20]}}" alt="" /></td>
                                    <td th:unless="${posizioneEdificio[20] != NULL}"><img style="width: 100%" src="/mitech/assets/images/villaggio/erba.png" th:src="@{/mitech/assets/images/villaggio/erba.png}" alt="" /></td>
                                    <td th:if="${posizioneEdificio[21] != NULL}"><img style="width: 100%" th:src="@{${'/mitech/assets/images/villaggio/' + posizioneEdificio[21]}}" alt="" /></td>
                                    <td th:unless="${posizioneEdificio[21] != NULL}"><img style="width: 100%" src="/mitech/assets/images/villaggio/erba.png" th:src="@{/mitech/assets/images/villaggio/erba.png}" alt="" /></td>
                                    <td th:if="${posizioneEdificio[22] != NULL}"><img style="width: 100%" th:src="@{${'/mitech/assets/images/villaggio/' + posizioneEdificio[22]}}" alt="" /></td>
                                    <td th:unless="${posizioneEdificio[22] != NULL}"><img style="width: 100%" src="/mitech/assets/images/villaggio/erba.png" th:src="@{/mitech/assets/images/villaggio/erba.png}" alt="" /></td>
                                    <td th:if="${posizioneEdificio[23] != NULL}"><img style="width: 100%" th:src="@{${'/mitech/assets/images/villaggio/' + posizioneEdificio[23]}}" alt="" /></td>
                                    <td th:unless="${posizioneEdificio[23] != NULL}"><img style="width: 100%" src="/mitech/assets/images/villaggio/erba.png" th:src="@{/mitech/assets/images/villaggio/erba.png}" alt="" /></td>
                                    <td th:if="${posizioneEdificio[24] != NULL}"><img style="width: 100%" th:src="@{${'/mitech/assets/images/villaggio/' + posizioneEdificio[24]}}" alt="" /></td>
                                    <td th:unless="${posizioneEdificio[24] != NULL}"><img style="width: 100%" src="/mitech/assets/images/villaggio/erba.png" th:src="@{/mitech/assets/images/villaggio/erba.png}" alt="" /></td>                                    
                                </tr>
                                <tr>
                                    <td th:if="${posizioneEdificio[25] != NULL}"><img style="width: 100%" th:src="@{${'/mitech/assets/images/villaggio/' + posizioneEdificio[25]}}" alt="" /></td>
                                    <td th:unless="${posizioneEdificio[25] != NULL}"><img style="width: 100%" src="/mitech/assets/images/villaggio/erba.png" th:src="@{/mitech/assets/images/villaggio/erba.png}" alt="" /></td>                                        
                                    <td th:if="${posizioneEdificio[26] != NULL}"><img style="width: 100%" th:src="@{${'/mitech/assets/images/villaggio/' + posizioneEdificio[26]}}" alt="" /></td>
                                    <td th:unless="${posizioneEdificio[26] != NULL}"><img style="width: 100%" src="/mitech/assets/images/villaggio/erba.png" th:src="@{/mitech/assets/images/villaggio/erba.png}" alt="" /></td>
                                    <td th:if="${posizioneEdificio[27] != NULL}"><img style="width: 100%" th:src="@{${'/mitech/assets/images/villaggio/' + posizioneEdificio[27]}}" alt="" /></td>
                                    <td th:unless="${posizioneEdificio[27] != NULL}"><img style="width: 100%" src="/mitech/assets/images/villaggio/erba.png" th:src="@{/mitech/assets/images/villaggio/erba.png}" alt="" /></td>
                                    <td th:if="${posizioneEdificio[28] != NULL}"><img style="width: 100%" th:src="@{${'/mitech/assets/images/villaggio/' + posizioneEdificio[28]}}" alt="" /></td>
                                    <td th:unless="${posizioneEdificio[28] != NULL}"><img style="width: 100%" src="/mitech/assets/images/villaggio/erba.png" th:src="@{/mitech/assets/images/villaggio/erba.png}" alt="" /></td>
                                    <td th:if="${posizioneEdificio[29] != NULL}"><img style="width: 100%" th:src="@{${'/mitech/assets/images/villaggio/' + posizioneEdificio[29]}}" alt="" /></td>
                                    <td th:unless="${posizioneEdificio[29] != NULL}"><img style="width: 100%" src="/mitech/assets/images/villaggio/erba.png" th:src="@{/mitech/assets/images/villaggio/erba.png}" alt="" /></td>
                                    <td th:if="${posizioneEdificio[30] != NULL}"><img style="width: 100%" th:src="@{${'/mitech/assets/images/villaggio/' + posizioneEdificio[30]}}" alt="" /></td>
                                    <td th:unless="${posizioneEdificio[30] != NULL}"><img style="width: 100%" src="/mitech/assets/images/villaggio/erba.png" th:src="@{/mitech/assets/images/villaggio/erba.png}" alt="" /></td>                                   
                                </tr>
                                <tr>
                                    <td th:if="${posizioneEdificio[31] != NULL}"><img style="width: 100%" th:src="@{${'/mitech/assets/images/villaggio/' + posizioneEdificio[31]}}" alt="" /></td>
                                    <td th:unless="${posizioneEdificio[31] != NULL}"><img style="width: 100%" src="/mitech/assets/images/villaggio/erba.png" th:src="@{/mitech/assets/images/villaggio/erba.png}" alt="" /></td>                                       
                                    <td th:if="${posizioneEdificio[32] != NULL}"><img style="width: 100%" th:src="@{${'/mitech/assets/images/villaggio/' + posizioneEdificio[32]}}" alt="" /></td>
                                    <td th:unless="${posizioneEdificio[30] != NULL}"><img style="width: 100%" src="/mitech/assets/images/villaggio/erba.png" th:src="@{/mitech/assets/images/villaggio/erba.png}" alt="" /></td>   
                                    <td th:if="${posizioneEdificio[33] != NULL}"><img style="width: 100%" th:src="@{${'/mitech/assets/images/villaggio/' + posizioneEdificio[33]}}" alt="" /></td>
                                    <td th:unless="${posizioneEdificio[33] != NULL}"><img style="width: 100%" src="/mitech/assets/images/villaggio/erba.png" th:src="@{/mitech/assets/images/villaggio/erba.png}" alt="" /></td>                                       
                                    <td th:if="${posizioneEdificio[34] != NULL}"><img style="width: 100%" th:src="@{${'/mitech/assets/images/villaggio/' + posizioneEdificio[34]}}" alt="" /></td>
                                    <td th:unless="${posizioneEdificio[34] != NULL}"><img style="width: 100%" src="/mitech/assets/images/villaggio/erba.png" th:src="@{/mitech/assets/images/villaggio/erba.png}" alt="" /></td>                                      
                                    <td th:if="${posizioneEdificio[35] != NULL}"><img style="width: 100%" th:src="@{${'/mitech/assets/images/villaggio/' + posizioneEdificio[35]}}" alt="" /></td>
                                    <td th:unless="${posizioneEdificio[35] != NULL}"><img style="width: 100%" src="/mitech/assets/images/villaggio/erba.png" th:src="@{/mitech/assets/images/villaggio/erba.png}" alt="" /></td>                                      
                                    <td th:if="${posizioneEdificio[36] != NULL}"><img style="width: 100%" th:src="@{${'/mitech/assets/images/villaggio/' + posizioneEdificio[36]}}" alt="" /></td>
                                    <td th:unless="${posizioneEdificio[36] != NULL}"><img style="width: 100%" src="/mitech/assets/images/villaggio/erba.png" th:src="@{/mitech/assets/images/villaggio/erba.png}" alt="" /></td>                                  
                                </tr>

                            </table>
                            villaggio 
                            <div th:text="${listaTruppe}"></div>
                        </div>
                    </div>
                </div>
                <!--  <div class="row">
                      <div class="col-md-12">
                          ciao
                      </div>
                      <div class="col-12">
    
                          miao
                      </div>
    
    
                      <div class="row">
    
                          <div class="col-md-12">
                <!-- section-title-wrap Start -->
                bau

                <!--        </div>
                        <div class="col-12">
    
                            <div class="row">
    
    
                                cucu
                        </div>
                    </div>
                </div>-->
                <br><br><hr><br><br>
                                    <div class="thick-short-line"></div>
                                    </div>
                                    </div>

                                    <th:block layout:fragment="script">
                                        <script th:src="@{/mitech/assets/js/GameTimer.js}"></script>
                                        <script th:src="@{/mitech/assets/js/TruppaBuilder.js}"></script>
                                        <script th:src="@{/mitech/assets/js/attacco.js}"></script>
                                        <script  th:inline="javascript" th:src="@{/mitech/assets/js/Villaggio.js}"></script>
                                        <script th:src="@{/mitech/assets/js/Avversario.js}"></script>
                                        <script th:src="@{/mitech/assets/js/Edificio.js}"></script>


                                        <script th:inline="javascript">

                                            jQuery(document).ready(function ($) {


                                                $("button").click(function () {
                                                    $.ajax({
                                                        type: "GET",
                                                        contentType: "application/json",
                                                        dataType: "json",
                                                        url: '/attacco_esercitazione/partitavillaggioesercitazione',
                                                        success: function (data) {
                                                            var posizioni = new Array();
                                                            for (var i = 0; i < data[0].length; i++) {
                                                                posizioni.push([data[0][i].idedificio, data[0][i].posizione]);
                                                            }
                                                            const villaggio = new Villaggio(data[1].livelloGiocatore, "esercitazione", 36, posizioni);
                                                            var infoEdificiBattaglia = villaggio.calcoloLivelloEdifici(posizioni);
                                                            console.log(infoEdificiBattaglia);

                                                        },
                                                        error: function () {
                                                            alert('C’è stato un’errore');
                                                        }
                                                    });

                                                });
                                                document.getElementById("truppa").addEventListener("click", myFunction);

                                                function myFunction() {
                                                    let contents =  document.getElementById("idtruppeaddestrate").innerHTML;
                                                    document.getElementById("tabvillaggio").style.borderWidth="5px";  
                                                    document.getElementById("tabvillaggio").style.boxShadow="10px  10px 5px #F8F32B, -10px -10px 5px #F8F32B, 10px -10px 5px #F8F32B,-10px  10px 5px #F8F32B";
                                                }
                                            });


                                        </script>
                                    </th:block>
                                    </body>
                                    </html>

