<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"          
      layout:decorate="~{layout/public/layout}"
      xmlns="http://www.w3.org/1999/xhtml">

    <body>
        <div class="site-wrapper-reveal" layout:fragment="content">
            <div class="breadcrumb-area">
                <div class="intestazione container">
                    <div class="row">

                        <div class="col-lg-7" id="edificiDistrutti">Numero edifici distrutti: 0


                        </div>
                        <div class="col-lg-2" id="demo"></div>
                        <div class="col-lg-3"> 


                            <p>
                                <a class="button25" id="annullaPartita" href="#"  th:href="@{/}" >Annulla</a>
                            </p>



                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row" style="padding-top: 2%">
                    <div class="col-lg-4">
                        <p class="helpWarnings"><img class="informazioni" th:src="@{/mitech/assets/images/logo/info.png}">HELP:</p>
                        <div id="warnings"></div>
                    </div>
                    <div class="col-lg-8" id="risultatiEsercitazione"></div>
                    <div class="col-lg-8" id="villaggio">
                        <table id="tabvillaggio" class="tabellavillaggio">
                            <tr>
                                <td th:each="i : ${#numbers.sequence(1, 6)}">
                                    <img style="width: 100%" th:class="casella" th:id="__${i}__"/>
                                </td>   
                            </tr>
                            <tr>
                                <td th:each="i : ${#numbers.sequence(7, 12)}">
                                    <img style="width: 100%" th:class="casella" th:id="__${i}__"/>
                                </td>   
                            </tr>

                            <tr>
                                <td th:each="i : ${#numbers.sequence(13, 18)}">
                                    <img style="width: 100%" th:class="casella" th:id="__${i}__"/>

                                </td>   
                            </tr>

                            <tr>
                                <td th:each="i : ${#numbers.sequence(19, 24)}">
                                    <img style="width: 100%" th:class="casella" th:id="__${i}__"/>
                                </td>   
                            </tr>
                            <tr>
                                <td th:each="i : ${#numbers.sequence(25, 30)}">
                                    <img style="width: 100%" th:class="casella" th:id="__${i}__"/>

                                </td>   
                            </tr>
                            <tr>
                                <td th:each="i : ${#numbers.sequence(31, 36)}">
                                    <img style="width: 100%" th:class="casella" th:id="__${i}__"/>
                                </td>   
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="single-divider section-space--ptb_60 border-bottom">
                    <div class="row ">
                        <!-- <img src="/mitech/assets/images/favicon.png" th:src="@{/mitech/assets/images/favicon.png}" alt="" /> -->
                        <div class="col-lg-4"></div>
                        <div class="col-lg-4" style="text-align: center;">
                            <div class="truppeContainer" th:each="truppeDisponbili : ${truppeDisponbili}">

                                <!-- <div class="vaffanculo" th:each="i : ${#numbers.sequence(1, truppeDisponbili.quantita)}"></div>-->
                                <img id="truppa" class="truppeDisponibiliAttacco" th:name="${truppeDisponbili.truppa.nomeTruppa}" th:src="@{${'/mitech/assets/images/truppe/' + truppeDisponbili.truppa.immagineTruppa}}"/>
                                <img id="truppaInactive" class="truppeInactiveAttacco" th:name="${truppeDisponbili.truppa.nomeTruppa+'Inactive'}" th:src="@{${'/mitech/assets/images/truppe/' + truppeDisponbili.truppa.nomeTruppa+'_inactive.png'}}" style='display: none'/>
                                <div id="quantitaTruppaDisponibile"><p th:id="${truppeDisponbili.truppa.nomeTruppa}" class='paragrafoQuantitaTruppaDisponibile' th:text="${truppeDisponbili.quantita}"></p></div>
                                <div id="idtruppeaddestrate" style="display: none" th:text="${truppeDisponbili.truppa.id}"></div>
                                <div id="nometruppeaddestrate" style="display: none" th:text="${truppeDisponbili.truppa.nomeTruppa}"></div>


                            </div>

                        </div>

                        <div class="col-lg-4"></div>
                    </div>
                </div>
            </div>
            <!--  <div class="row">
                  <div class="col-md-12">
                      ciao
                  </div>
                  <div class="col-12">

                      miao
                  </div>


                  <div class="row">

                      <div class="col-md-12">
            <!-- section-title-wrap Start -->
            bau

            <!--        </div>
                    <div class="col-12">

                        <div class="row">


                            cucu
                    </div>
                </div>
            </div>-->
            <br><br><hr><br><br>
                                <div class="thick-short-line"></div>
                                </div>
                                </div>

                                <th:block layout:fragment="script">
                                    <script th:src="@{/mitech/assets/js/lodash.js}"></script>
                                    <script th:src="@{/mitech/assets/js/application/ViewPartita.js}"></script>
                                    <script th:src="@{/mitech/assets/js/business/CaratteristicheVita.js}"></script>
                                    <script th:src="@{/mitech/assets/js/business/TruppaBuilder.js}"></script>
                                    <script th:src="@{/mitech/assets/js/business/Timer.js}"></script>

                                    <script  th:inline="javascript" th:src="@{/mitech/assets/js/business/Villaggio.js}"></script>
                                    <script th:src="@{/mitech/assets/js/business/Edificio.js}"></script>
                                    <script th:src="@{/mitech/assets/js/business/Partita.js}"></script>
                                    <script th:src="@{/mitech/assets/js/business/Casella.js}"></script>
                                    <script th:src="@{/mitech/assets/js/clashOfC.js}"></script>

                                    <script th:src="@{/mitech/assets/js/business/BuilderVillaggio.js}"></script>

                                    <script th:inline="javascript">
                                        /*<![CDATA[*/

                                        /*]]>*/
                                    </script>
                                </th:block>
                                </body>
                                </html>

